@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about__container {
    max-width: calc(35rem + 1vw);
    @media (max-width: 800px) {
        max-width: 90%;
    }
}

.about {
    .hero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 1em;
        img {
            height: 6.25em;
            width: 6.25em;
            @media (max-width: 700px) {
                display: none;
            }
        }
        .name {
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: calc(0.72rem + 1vw);
        }
    }
    .bio {
        font-size: 1.75em;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-bottom: 1rem;
        font-family: sans-serif;
        border-left: 2px solid burlywood;
        font-weight: 300;
    }
    span {
        width: 50%;
    }
}