.contact {

    a {
        color: var(--dark);
    }
    p {
        font-size: 1.75em;
        font-family: sans-serif;
        font-weight: 200;
        margin: 0;
    }
    .social {
        padding: calc(0.2rem + 1vw) calc(2rem + 1vw) 0 0;
        svg {
            transition: all .5s;
            height: calc(2rem + 1vw);
            width: calc(2rem + 1vw);
        }
    }
    .linkedin {
        &:hover {
            fill: #0077b5;
        }
    }
    .mail {
        &:hover {
            fill: #cc3429;
        }
    }
    .github {
        &:hover {
            fill: #24292e;
        }
    }
}

.contact__social {
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contact__container {
    padding: 1rem .5rem;
    display: flex;
    color: var(--dark);
    flex-direction: column;
    max-width: calc(35rem + 1vw);
    border-left: 2px solid burlywood;

    @media (max-width: 800px) {
        max-width: 90%;
    }
}
