.projects__container {
    display: grid;
    max-width: 70%;
    @media only screen and (max-width: 800px) {
        max-width: 90%;
    }
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: max-content;
    grid-gap: 2em 2em;
}

.card {
    color: var(--dark);
    transition: all .25s ease-in-out;
    position: relative;

    border-left: 2px solid burlywood;
    padding: 1rem .5rem;

    font-weight: 400;
    line-height: 1.4;
}

.card__tech {
    padding-bottom: 1em;
}
.card__text {
    font-weight: 400;
    line-height: 1.4;
    padding: .5rem 0;
}
.card__title {
    font-family: 'Lato', serif;
    font-size: 2em;
    padding-bottom: 1em;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.card__detail-link {

    /*TODO: implement icons for links*/
    svg {
        fill: var(--dark);
        height: 1.5em;
        width: 1.5em;
    }

    font-style: italic;
    transition: all 0.2s;

    &:after {
        backface-visibility: hidden;
        bottom: 0;
        content: " ";
        display: block;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
        height: 1px;
        background-color: burlywood;
    }

    &:hover:after {
        backface-visibility: hidden;
        transition: width 350ms ease-in-out;
        width: 100%;
    }
}
.card__detail-link.back:after {
    margin: 0 auto;
}
.card__detail-link:hover {
    letter-spacing: 1px;
}
.card__detail-link .icon {
    display: inline-block;
    transform: translateX(-1px);
    transition: all 0.2s;
}
.card__detail-link:hover .icon {
    color: burlywood;
    transform: translateX(2px);
}
.card__detail-link.back:hover .icon {
    transform: translateX(-3px);
}

.card__link {
    text-decoration: none;
    display: inline-block;
    color: var(--dark);
    &:visited {
        color: var(--dark);
    }
}
.card__link--live {
    display: flex;
}
.card__link--live svg {
    margin-left: 0.25em;
    height: .75em;
    width: .75em;
    transition: all 0.3s;
    &:hover {
        fill: burlywood;
    }
}