* {
  box-sizing: border-box;
  margin: 0;
}


:root {
  font-size: calc(0.25em + 1vw);
  @media only screen and (max-width: 800px) {
    font-size: calc(.5rem + 1vw);
  }
  background: linear-gradient(192deg, #fff, #eaeaea);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #303641;
}

.section {
  height: 85vh;
  padding-bottom: 2rem;
  overflow: auto;

  animation-name: fadein;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;

  display: flex;
  flex-direction: column;
  align-items: center;

  a:not(.card__link, .social), a:not(.card__link, .social):visited {
    color: var(--dark);
    text-decoration: none;
    font-style: italic;
    transition: all 0.3s;
    &:hover {
      color: black;
    }
    position: relative;
  }
  a:not(.card__link, .social):before {
    position: absolute;
    margin: 0 auto;
    top: 85%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: burlywood;
    content: '';
    opacity: 0.5;
    transform: scaleX(.9);
    transition: all 0.3s;
  }
  a:not(.card__link, .social):hover:before {
    opacity: 1;
    transform: scaleX(1);
  }
}

.container {

  position: relative;
  min-height: 100vh;
  color: var(--dark);

  /*
  -webkit-animation: background-fade 37s ease infinite;
  -moz-animation: background-fade 37s ease infinite;
  animation: background-fade 37s ease infinite;
   */
}
